<script>
    function getStylesheet() {
          var currentTime = new Date().getHours();
            if (0 <= currentTime&&currentTime < 7) {
              document.write('<link rel="stylesheet" href="https://www.ulyssesmurja.com.br/css/back-night.css" type="text/css">');
            }
            if (7 <= currentTime&&currentTime < 18) {
              document.write('<link rel="stylesheet" href="https://www.ulyssesmurja.com.br/css/back-day.css" type="text/css">');
            }
            if (18 <= currentTime&&currentTime < 24) {
              document.write('<link rel="stylesheet" href="https://www.ulyssesmurja.com.br/css/back-night.css" type="text/css">');
            }
      }
    getStylesheet();
</script>