{{ partial "header-scripts" . }}

<section id="home-hero" class="container">
  <h1>Hi! I'm Ulysses. Freelance web developer & social media.</h1>
  <h2 class="random-titles centered" style="position:absolute;"></h2> 
  <div class="home-hero-bottom">
    <div class="scroll"></div>
  </div>
</section>

<section id="home-projects" class="container">
  <div class="" id="clients-projects">
    
    <figure class="project-item">
      <a href="http://www.lideriopreto.com.br" target="_blank">
        <img src="{{ .Site.BaseURL }}images/projeto_lide-rio-preto-2.jpg" class="project-item-img" alt="LIDE RIO PRETO">
        <div class="overlay"></div>
        <p><span class="project-item-title" data-font="">LIDE RIO PRETO</span></p>
      </a>
    </figure>
   
    <figure class="project-item">
      <a href="https://www.lasvegas2.com.br" target="_blank">
        <img id="teste" src="{{ .Site.BaseURL }}images/projeto_las-vegas-2-2.jpg" class="project-item-img" alt="LAS VEGAS 2">
        <div class="overlay"></div>
        <p><span class="project-item-title" data-font="">LAS VEGAS 2</span></p>
      </a>
    </figure>
    <figure class="project-item">
      <a href="http://www.viverdibistro.com.br" target="_blank">
        <img src="{{ .Site.BaseURL }}images/projeto_viverdi-bistro-4.jpg" data-jello-tag="projeto_viverdi-bistro-4" class="project-item-img js-jello-hover" alt="VIVERDI">
        <div class="overlay"></div>
        <p><span class="project-item-title" data-font="">Vi·VERDI</span></p>
      </a>
    </figure>
    <figure class="project-item">
      <a href="https://www.soulmamma.com.br" target="_blank">
        <img src="{{ .Site.BaseURL }}images/projeto_soul-mamma-2.jpg" class="project-item-img" alt="SOUL MAMMA">
        <div class="overlay"></div>
        <p><span class="project-item-title" data-font="">SOUL MAMMA</span></p>
      </a>
    </figure>
    <figure class="project-item">
      <a href="http://www.alfaagropecas.com.br" target="_blank">
        <img src="{{ .Site.BaseURL }}images/projeto_alfa-8.jpg" class="project-item-img" alt="ALFA">
        <div class="overlay"></div>
        <p><span class="project-item-title" data-font="">ALFA</span></p>
      </a>
    </figure>
    <figure class="project-item">
      <a href="http://www.vansil.com.br" target="_blank">
        <img src="{{ .Site.BaseURL }}images/projeto_vansil-2.jpg" class="project-item-img" alt="VANSIL">
        <div class="overlay"></div>
        <p><span class="project-item-title" data-font="">VANSIL</span></p>
      </a>
    </figure>
    <figure class="project-item">
      <a href="http://www.reikilibrefisio.com.br" target="_blank">
        <img src="{{ .Site.BaseURL }}images/projeto_reikilibre.jpg" class="project-item-img" alt="REIKILIBRE">
        <div class="overlay"></div>
        <p><span class="project-item-title" data-font="">REIKILIBRE</span></p>
      </a>
    </figure>
    <figure class="project-item">
      <a href="http://www.viveremharmoniariopreto.com.br" target="_blank">
        <img src="{{ .Site.BaseURL }}images/viveremharmonia.jpg" class="project-item-img" alt="VIVER EM HARMONIA">
        <div class="overlay"></div>
        <p><span class="project-item-title" data-font="">VIVER EM HARMONIA</span></p>
      </a>
    </figure>
    <figure class="project-item">
      <a href="http://www.portoacai.com.br" target="_blank">
        <img src="{{ .Site.BaseURL }}images/projeto_portoacai.jpg" class="project-item-img" alt="PORTO AÇAÍ">
        <div class="overlay"></div>
        <p><span class="project-item-title" data-font="">PORTO AÇAÍ</span></p>
      </a>
    </figure>
  </div>
</section>

<section id="work-and-contact">
  <div class="container">
    <div class="work-with">
      <div class="work-with-title">
        <p>Worked with</p>
      </div>
      <div class="work-with-content">
        <a href="https://www.digga8.com.br/" target="_blank">Digga8</a>,
        <a href="https://www.agencialed.com.br/" target="_blank">Agência LED</a>,
        <a href="https://natacriativa.com.br/" target="_blank">Nata Criativa</a>.
        <!-- <a href="https://smais.digital/" target="_blank">S+Digital</a>,
        <a href="https://seivacriativa.com.br/" target="_blank">Seiva Criativa</a> -->
      </div>
    </div>
    <div class="contact">
      <div class="row-50">
        <div class="column-50">
          <a target="_blank" href="https://www.linkedin.com/in/ulyssesmurja" class="social-links">LinkedIn</a>
          <a target="_blank" href="https://www.facebook.com/ulyssesmrj" class="social-links">Facebook</a>
          <a target="_blank" href="https://www.instagram.com/ulyssesmrj" class="social-links">Instagram</a>
        </div>
        <div class="column-50">
          <a target="_blank" href="https://github.com/ulyssesmurja" class="social-links">Github</a>
          <a target="_blank" href="https://medium.com/@ulyssesmurja" class="social-links">Medium</a>
          <a target="_blank" href="https://twitter.com/ulyssesmrj" class="social-links">Twitter</a>
        </div>
      </div>
      <div class="row-50">

      <form class="form-content" name="form-content" id="sayhello">
        <input type="text" class="form-field-text required" id="name" name="your-email" required autocomplete="off">
        <span class="field-text-bar"></span>
        <label class="field-float-label" id="your-email">Your email</label>
        <div id="button-submit-content">
          <div class="button-submit" id="button-submit">SAY HELLO!</div>
          <div class="loader-animation-content">
            <span class="loader loader-circle-1"></span>
            <span class="loader loader-circle-2"></span>
          </div>
          <span class="loader loader-circle-3"></span>
          <div class="check-wrapper">
            <svg version="1.1" width="28px" height="28px" viewBox="0 0 64.5 37.4">
              <polyline class="check" points="5,13 21.8,32.4 59.5,5 "/>
            </svg>
          </div>
        </div>
        <svg xmlns="https://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
            <feBlend in="SourceGraphic" in2="goo" />
          </filter>
        </defs>
        </svg>
      </form>
      </div>
    </div>
  </div>
</section>

{{ partial "footer-scripts" . }}